html {
    font-family: sans-serif;
}
.result-div{
    font-size: 45px;
}

.main-element-container{
    overflow: hidden;
    display: flex;
    justify-content: center;
    height: -webkit-fill-available;

}

.sub-container{
    flex-shrink: 0;
    transform: translateY(0);
    transition: transform 0.5s ease, opacity 0.5s ease;
}
.transition-container{
    height: 30rem;
    flex-shrink: 0;
    transform: translateY(0);
    transition: transform 0.5s ease-in-out;
    transition: transform 0.5s ease, opacity 0.5s ease;
    position: relative;
    box-sizing: border-box;
    padding-top: 100px;
}
 
.heading-container {
    display: flex;
    align-items: baseline;
}

.dynamic-heading-container {
    display: flex;
    align-items: center;
    font-size: 20px;
    text-transform:capitalize ;
    color: #c2c0c0b7;
}
.dynamic-heading-container p{
    font-size: 22px;
}



.sub-element {
    border: 1px solid #41221bc2;
    border-radius: 4px;
    background-color: #b38416;
    padding: 10px 12px;
    font-size: 18px;
    margin-top: 4px;
    cursor: pointer;
}

.sub-element:hover {
    background-color: #977819;
}

.result-div {
    padding: 10px 12px;
    font-size: 18px;
    margin-top: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}


input {
    width: -webkit-fill-available;
    background: transparent;
    outline: none;
    border: none;
    border-bottom: 2px solid black;
    padding-bottom: 6px;
    font-size: 2rem;
}

input::placeholder {
    color: #b38416;

}

.element-container {
    padding-bottom: 15px;
    border-bottom: 2px dashed black;
    max-height: 12rem;
    transform: translateY(-10%);
    transition: transform 2s ease ;
    
}


.sub-container {
    display: flex;
    flex-direction: column;
    width: 60%;
    /* height: 100%; */
}

 

.submit-btn {
    /* display: block; */
    margin-top: 8px;
    background-color: black;
    padding: 8px 18px;
    outline: none;
    border: none;
    color: white;
    font-size: 22px;
    border-radius: 4px;
} 

.heading {
    /* margin-right: 10px; */
    font-size: 20px;
    display: flex;
flex-wrap: nowrap;
color: #c2c0c0b7;
    
}
.description{
    padding: 0;
    font-size: 20px;
    line-height: 25px;
    color: #c2c0c0b7;
    margin-top: 4px;
    margin-bottom: 40px;
}
.hidden {
    opacity: 0;
    transform: translateY(-20px);
    pointer-events: none; 
    visibility: hidden;  
    transition: opacity 0.1s ease-in-out, transform 0.3s ease-in-out;
}

.visible {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;  
    visibility: visible; 
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

button{
cursor: pointer;
}

@media (max-width: 905px) {
.sub-container {
    width: 80% !important; 
}
}
 

.slide-up {
    transform: translateY(-100%);
    opacity: 0;
}

.hidden {
    display: none;  
    /* visibility: hidden; */
}

.up-arrow {
    /* position: absolute; */
    top: -20px;
    right: 10px;
    cursor: pointer;
    background: #ccc;
    border: none;
    border-radius: 50%;
    padding: 5px;
    font-size: 16px;
}
